{% extends 'pessoas/base.html' %}
{% load static %}

{% block title %}Tomografia{% endblock %} {% block content %}

    <section class="cirurgia">
        <div class="cirurgia-content">
            <h2>Tomografia</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pellentesque, sem eu accumsan condimentum
                feugiat, leo leo faucibus ipsum, eu mattis est eros eget magna. Suspendisse potenti. Fusce lacus quam,
                porttitor in magna vitae, placerat iaculis purus.</p>
            <div class="botoes">
                <button class="btn-azul">Ver Agenda</button>
                <button class="btn-escuro">Ver o seu Profissional</button>
            </div>
        </div>
        <div class="cirurgia-bg">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pellentesque, sem eu accumsan condimentum
                feugiat, leo leo faucibus ipsum, eu mattis est eros eget magna. Suspendisse potenti. Fusce lacus quam,
                porttitor in magna vitae, placerat iaculis purus.</p>
        </div>
    </section>

    <section class="convenio">
        <h2>Qual seu convênio?</h2><br>
        <div class="convenio-box">
            <span class="seta">&#10094;</span>
            <div class="slider"></div>
            <span class="seta">&#10095;</span>
        </div>
    </section>

    <section class="detalhes">
        <h2>Mais Detalhes</h2><br>
        <div class="detalhes-box">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pellentesque, sem eu accumsan condimentum
                feugiat, leo leo faucibus ipsum, eu mattis est eros eget magna. Suspendisse potenti.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pellentesque, sem eu accumsan condimentum
                feugiat, leo leo faucibus ipsum, eu mattis est eros eget magna. Suspendisse potenti.</p>
        </div>
    </section>

{% endblock %}